* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.auth-container {
  height: 100vh;
  background: linear-gradient(135deg, #1d2671, #c33764);
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-box {
  width: 360px;
  height: 420px;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.form {
  width: 100%;
  height: 100%;
  padding: 40px;
  position: absolute;
  transition: transform 0.6s ease;
}

.login-form {
  transform: translateX(0);
}

.register-form {
  transform: translateX(100%);
}

.auth-box.active .login-form {
  transform: translateX(-100%);
}

.auth-box.active .register-form {
  transform: translateX(0);
}

.form h2 {
  text-align: center;
  margin-bottom: 5px;
}

.form p {
  text-align: center;
  color: gray;
  margin-bottom: 25px;
}

.form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.3s;
}

.form input:focus {
  border-color: #c33764;
  box-shadow: 0 0 6px rgba(195, 55, 100, 0.5);
}

.form button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg, #1d2671, #c33764);
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.2s;
}

.form button:hover {
  transform: translateY(-2px);
}

.form span {
  display: block;
  text-align: center;
  margin-top: 15px;
  cursor: pointer;
  color: #1d2671;
}


.form button:hover{
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  height: 120px;
  font-display: auto;
  translate: initial;
  overflow: hidden;
  list-style: decimal;
  border-radius: 20px;
  border-bottom: #1d2671;
  padding-right: 20%;
}


